:root {
  --padding: 5px;
  --width: 200px;
  --margen: 20px;
  --borderradius: 2px;
  --borderbutton: 20px
}

body {
  margin: 10px;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  padding: 10px;
}

.buttonApp {
  padding: var(--padding);
  margin: var(--margen);
  background-color: grey;
  color: aliceblue;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 0;
  width: var(--width);
  font-weight: 400;
}


.buttonApp:hover {
  background-color: lightblue;
  color: black;
  box-shadow: 5px 5px 10px gray;
  border: none;
  width: var(--width);
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.optionList, .edit {
  width: var(--width);
  padding: var(--padding);
  margin: var(--margen);
  border-radius: var(--borderradius);
  border-width: 0.5px;
  margin-left: 0;
  margin-top: 3px;
}

.edit {
  width: 188px;
  height: 18px;
}

.optionList:focus {
  border: 1px solid rgb(14, 146, 235);
  outline: none;
}

.edit:focus {
  border: 1px solid rgb(14, 146, 235);;
  outline: none;
}

.formOrder {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
}

* {
  font-size: 12px;
}

h1  {
  text-shadow: 2px 2px 4px grey;
  font-size: 24px;
  margin-bottom: 50px;
  margin-left: 0;
}

.linkpage {
  color: black;
  padding: 10px;
  margin-right: 10px;
}

.linkpage:hover {
  text-decoration: none;
  color: black;
  background-color: lightblue;
  box-shadow: 5px 5px 10px gray;
  border-radius: var(--borderradius);
  font-weight: 600;
}

.linkpage:visited {
  color: black;
}

.linkpage:visited:hover {
  text-decoration: none;
  color: black;
  background-color: lightblue;
  box-shadow: 5px 5px 10px gray;
  font-weight: 600;
}

.headerOption {
  margin-top: 30px;
  padding: 25px;
  border: 1px solid gray;
}

.divitem {
  padding: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
}
